<div class="assignments" style="border: 1px solid black; height: 35rem; width: 100%">
  <% @assignment.each do |assignment| %>
    <%= link_to assignment.title, assignment_path(assignment) %>
    (<%= assignment.due_date%>)<br><br>
  <% end %>
</div>