<h1>Dashboard</h1>
<div class="assignments" style="border: 1px solid black; height: 35vh; width: 100%">
    <%= link_to "Add New Assignment", new_assignment_path %>
    <% @assignments.each do |assignment| %>
        <%= link_to assignment.title, assignment_path(assignment) %> <br>
    <% end %>
</div>

<div class="posts" style="border: 1px solid black; height: 35vh; width: 100%">
    <%= link_to "Create New Post", new_forum_path %>
    <% @posts.each do |post| %>
        <%= link_to post.title, forum_path(post) %>
    <% end %>
</div>