<% content_for :title, "Calculator" %>

<body class ="calculator">
<div class="container">
    <table border="1" cellspacing="0">
        <tr>
            <td colspan="4" id="inputLabel">0</td>
        </tr>
        <tr>
            <td colspan="3"><button class ="bn" onclick="pushBtn(this);">AC</button></td>
            <td><button class ="bn" onclick="pushBtn(this);">/</button></td>
        </tr>
        <tr>
            <td><button class ="bn"onclick="pushBtn(this);">7</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">8</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">9</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">*</button></td>
        </tr>
        <tr>
            <td><button class ="bn"onclick="pushBtn(this);">4</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">5</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">6</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">-</button></td>
        </tr>
        <tr>
            <td><button class ="bn"onclick="pushBtn(this);">1</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">2</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">3</button></td>
            <td ><button class ="bn"onclick="pushBtn(this);">+</button></td>
        </tr>
        <tr>
            <td colspan="2"><button class ="bn"onclick="pushBtn(this);">0</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">.</button></td>
            <td><button class ="bn"onclick="pushBtn(this);">=</button></td>
        </tr>
    </table>
</div>
</body>

<script>
    var inputLabel = document.getElementById('inputLabel');
     
    function pushBtn(obj) {
         
        var pushed = obj.innerHTML;
         
        if (pushed == '=') {
            // Calculate
            inputLabel.innerHTML = eval(inputLabel.innerHTML);
             
        } else if (pushed == 'AC') {
            // All Clear
            inputLabel.innerHTML = '0';
             
        } else {
            if (inputLabel.innerHTML == '0') {
                inputLabel.innerHTML = pushed;
                 
            } else {
                inputLabel.innerHTML += pushed;   
            }
        }
    }
</script>