* {
   padding: 0;
   margin: 0; }
 
body {
   background-color: #47682C;
   animation: fadeIn 1.5s forwards; 
   font-family: 'Montserrat', sans-serif;
}
 
 @keyframes fadeIn {
   0% {
     opacity: 0; }
   100% {
     opacity: 1; } }
 

a {
   padding: .8rem;
   color: #066D0A !important;
   text-decoration: none !important;
}

a:hover {
   text-decoration: none;
   color: rgb(9, 184, 15);
 }

.logo {
   float: left;
   font-weight: bolder;
   color: #ffffff;
   font-size: 2rem;
   width: 140px;
   margin: 0 0px 0 0px;
}

.emerald {
   font-family: 'Rum Raisin', sans-serif;
}
.emerald a {
   text-decoration: none!important;
   font-size: 2rem;
   /* font-family: 'Rum Raisin', sans-serif; */
}

.emerald img {
   width: 40px;
   float: left;
   margin: 0 10px 0 20px;
}

.emerald img:hover {
   cursor: pointer;
}

.navlinks {
   float: left;
   width: 650px;
   font-size:1.25rem; 
}

.navEmail {
   /* float: left;
   width: 400px; */
   font-size:1rem; 
}

.barnav {
   display: flex;
   background-color: #212922;
   margin: 0;
   padding: 1rem;
   /* font-family: 'Rum Raisin', sans-serif; */
   height: 5rem;
}

.heroImg {
   background-image: url('/images/children-banner.png');
   background-size: cover;
   height: 110vh;
}

.hero-text-container {
   width: 500px;
   height: 30vh;
   float: left;
   margin: 48px 80px 80px 80px;
}

.hero-text {
   font-size: 7.5rem;
   font-family:'Rum Raisin', sans-serif;
   line-height: 7.5rem;
   color: #066D0A;
}

.hero-text-butt {
   /* border-top: rgb(3, 3, 3) 1px solid; */
   padding: 15px 0 0 0;
   font-size: 3.5rem;
   font-family:'Roboto', sans-serif;
   line-height: 3.5rem;
   color: #000000;
}

.row {
   margin: 0 !important;
   justify-content: center;
}

.col-6 assignments card {
   margin: 0 !important;
}

.assignments {
   background-color: #D6D6B1;
   /* border: 1px solid black; */
   padding: 1rem;
   height: 28rem;
   width: 90%;
   overflow-y: scroll;
   object-fit: contain;
   border-radius: 1rem;
}

.posts {
   background-color: #D6D6B1;
   padding: 1rem;
   height: 28rem;
   width: 90%;
   overflow-y: scroll;
   object-fit: contain;
}

.row {
   display: flex;
   justify-content: center;
   line-height: 2rem;
}
.col-5 {
   margin: 2rem;
}

.card-body {
   background-color: rgba(20, 107, 2, 0.70);
   /* margin: 1rem; */
   /* justify-content: center; */
 }
 
.workspace {
   display: flex;
   height: 100vh;
   width: 90vw;
   /* background-color: #066D0A; */
 }

.image-upload > input {
   display: none
}

.image-upload > label {
   cursor: pointer;
}

#editor {
   height: 33rem;
   background-color: #23241f;
   color: #f8f8f2;
   overflow: visible;
}

.wrapper {
   /* width: 1240px; */
   margin: 0 auto;
}

.card {
  border: none !important;
}

thead {
   background-color: #4CAF50;
   color: white;
 }


/* sidebar */
#wrapper {
   padding-left: 0;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled {
   padding-left: 250px;
   margin-top: 0;
}

#sidebar-wrapper {
   z-index: 1000;
   position: fixed;
   left: 250px;
   width: 0;
   height: 100%;
   margin-left: -250px;
   margin-top: -18px;
   overflow-y: auto;
   background: #111311;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -o-transition: all 0.5s ease;
   transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
   width: 250px;
}

#page-content-wrapper {
   width: 100%;
   position: absolute;
   padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
   position: absolute;
   margin-right: -250px;
}

/* Sidebar Styles */
.sidebar-nav {
   position: absolute;
   top: 0;
   width: 250px;
   margin: 0;
   padding: 0;
   list-style: none;
}

.sidebar-nav li {
   text-indent: 20px;
   line-height: 40px;
}

.sidebar-nav li a {
   display: block;
   text-decoration: none;
   color: #999999;
}

.sidebar-nav li a:hover {
   text-decoration: none;
   color: #fff;
   background: rgba(34, 78, 4, 0.5);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
   text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
   height: 65px;
   font-size: 18px;
   line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
   color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
   color: #fff;
   background: none;
}

@media(min-width:768px) {
   #wrapper {
       padding-left: 250px;
   }

   #wrapper.toggled {
       padding-left: 0;
   }

   #sidebar-wrapper {
       width: 250px;
   }

   #wrapper.toggled #sidebar-wrapper {
       width: 0;
   }

   #page-content-wrapper {
       padding: 20px;
       position: relative;
   }

   #wrapper.toggled #page-content-wrapper {
       position: relative;
       margin-right: 0;
   }
}


/* Topbar Shine Animation */

.barnav {
   /* width:100%;  */

   -webkit-animation-name: ShineAnimation;
   -webkit-animation-duration: 8s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: cubic-bezier(.12,.89,.98,.47);
}

@-webkit-keyframes ShineAnimation{
   from {
       background-repeat:no-repeat;
       background-image:-webkit-linear-gradient(
           top left,
           rgba(134, 226, 92, 0.0) 0%,
           rgba(134, 226, 92, 0.0) 45%,
           rgba(134, 226, 92, 0.5) 48%,
           rgba(134, 226, 92, 0.8) 50%,
           rgba(134, 226, 92, 0.5) 52%,
           rgba(134, 226, 92, 0.0) 57%,
           rgba(134, 226, 92, 0) 100%
       );
       background-position:-350px -350px;
       background-size: 600px 600px
   }
   to {
       background-repeat:no-repeat;
       background-position: 50px 50px;
   }
}


a.shine:hover {
   -webkit-mask-image: linear-gradient(-75deg, rgba(255, 255, 255, 0.3) 30%, #000 50%, rgba(255, 255, 255, 0.3) 70%);
   -webkit-mask-size: 200%;
   animation: shine 3s infinite;
   cursor: pointer;
 }
 
 @-webkit-keyframes shine {
   from {
     -webkit-mask-position: 150%;
   }
   
   to {
     -webkit-mask-position: -50%;
   }
 }