a {
   padding: .8rem;
   color: #066D0A;
}
.logo {
   float: left;
   font-weight: bolder;
   color: #066D0A;
   font-size: 1.5rem;
   width: 40px;
}
.logo img {
   width: 40px;
}
.navlinks {
   float: left;
   width: 650px;
   font-size:1.25rem; 
}
.navEmail {
   float: left;
   width: 400px;
   font-size:1.25rem; 
}
.barnav {
   align-items: center;
   background-color: rgb(204, 224, 205);
   padding: 5px 0 0 0;
   height: 80px;
}
.hero {
   background: url('children-banner.jpg') no-repeat center fixed;
}

.assignments {
   border: 1px solid black;
   padding: 1rem;
   height: 15rem;
   width: 100%;
   overflow-y: scroll;
   object-fit: contain;
}

.posts {
   border: 1px solid black;
   padding: 1rem;
   height: 15rem;
   width: 100%;
   overflow-y: scroll;
   object-fit: contain;
}