// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    padding: 0;
    margin: 0; 
}
body {
    font-family: 'Rum Raisin', sans-serif;
    font-family: 'Roboto', sans-serif;
}
